<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />

    <section name="machineKey" type="MovieSpider.Core.Configuration.MachineKeySection, MovieSpider.Core" />
  </configSections>
  
  <connectionStrings>
    <add name="MovieDbConn" connectionString="data source=.\sql2014;initial catalog=MovieSpider;integrated security=False;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IContentDbConn" connectionString="data source=.\sql2014;initial catalog=Movie;integrated security=False;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="Dy2018Domain" value="www.dy2018.com" />
    <add key="Dy2018Encode" value="GB2312" />
    <add key="MovieDomain" value="http://www.dy9981.com/" />
    <add key="MovieSpiderServiceName" value="MovieSpiderService" />
    <add key="RestartMB" value="80" />
    <add key="ApiKey" value="531ce320a4a341a691b37666a92d3e84" />
  </appSettings>

  <machineKey decryption="3DES" decryptionKey="81FDBBED111A7D5F925CACD7F9BC6C23B63EBB543924B207" validation="HMACSHA512" validationKey="0145C7EFAC4046E58208C8FA30BA2FA559BC7D042C2F0F7200DE2039EBE6559BF81D955E12A88D42C2FAD5EF064032E64B6B98725D61EAB81FA34A30FFD3B216" />

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="MovieSpider.Services" />
    <namespace name="MovieSpider.Services" />
    <container>
      <register type="IMoviceService" mapTo="MoviceService" />
    </container>
  </unity>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>